<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MenuUrlPath" value="/Database/DataJson/Menu.json"/>
    <add key="StorageAddress" value="/Database/DataJson/data.json"/>
    <add key="Text_Contents_PathUrl" value="Shared/Config/config.json"/>
    <add key="KeyValue" value="dc9ebfcd19f84e5d990a521db793b282"/>
    <add key="ErrorLog_FolderPathUrl" value="Log/Error/"/>
  </appSettings>
  <connectionStrings>
    <add name="ChenxData" connectionString="server=DESKTOP-5RFP37B\SQLSERVER2014;database=chenx;uid=sa;pwd=123;Min Pool Size=20; Max Pool Size=200;Connection Timeout=30;" providerName="Syetem.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
